# Ignore build directories and cached files
src/build/
build/
*.so
*.dll
*.dylib
*.a
*.lib
*.o
*.obj
.vscode/
.DS_Store
.idea/
*.user
CMakeCache.txt
CMakeFiles/
Makefile
cmake_install.cmake
!src/dfigPlugin.dll
